[Unit]
Description = Chia Exporter Service

[Service]
Type = simple
ExecStart=/usr/local/bin/chia-exporter serve
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
